## Self Play Book

In [2]:
squares_list= []
#Loop through all numbers from 1, including 9
for x in range(1,10):
    squares_list.append(x**2)
print(squares_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [1]:
"""What you did above cell is done here via list comprehensions, below giving a generic expressions of 
what will be elements of the cell squares_list.
Generation rule : Every element is square of some number(x), then it is said what is each of those numbers(x).
=> For every x in 1 to 9, find the square and make it part of the list, squares_list.
Outer square brackets indicate that we are constructing a list"""

squares_list = [x**2 for x in range(1,10)]
print(squares_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
paragraph = ["There was a fox." , 'It was brown in color.', "It was seen near that farm sometime back"]

In [ ]:
# ['There', 'was', 'a', 'fox.', 'It', 'was', 'brown', 'in', 'color.', 'It', 'was', 'seen', 'near', 'that', 'farm', 'sometime', 'back']

In [ ]:
single_word_list =[]

for sentence in paragraph:
    for word in sentence.split():
        single_word_list.append(word)

print(single_word_list)

In [ ]:
single_word_list  = [word for sentence in paragraph for word in sentence.split()]
print(single_word_list)

In [ ]:
#list comp with if statement
vowels = ['a','e','i','o','u']
vowels_from_sentence =[]
for sentence in paragraph:
    for word in sentence.split():
        if word[0].lower() in vowels:
            vowels_from_sentence.append(word)

print(vowels_from_sentence)

In [ ]:
#[ for sentence in paragraph]
#[ for sentence in paragraph for word in sentence.split()]

In [ ]:
vowels_comp = [word for sentence in paragraph for word in sentence.split() if word[0].lower() in vowels]
print(vowels_comp)

In [ ]:
squared_dictionary = {num : num**2 for num in range(0, 25)}
print(squared_dictionary)

In [ ]:
students_data = {1:['Shivam Bansal', 24] , 2:['Udit Bansal',25], 3:['Sonam Gupta', 26], 4:['Saif Ansari',24], 5:['Huzefa Calcuttawala',27]}

In [ ]:
names_dict ={}

#iterate over each key, val pair
for roll_num,details in students_data.items():
    if roll_num%2==0:
        names_dict[roll_num]= details[0]
print(names_dict)

In [ ]:
names_comp = {roll_num:details[0] for roll_num,details in students_data.items() if roll_num%2==0}
print(names_comp)

#### In-slide works

In [3]:
print(range(10)) #same as range(0,10)

range(0, 10)

In [5]:
# using a for loop

product_list = []
for i in range(10):
    for j in range(10,20):
        product_list.append(i*j)
print(product_listt_list)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 60, 66, 72, 78, 84, 90, 96, 102, 108, 114, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152, 90, 99, 108, 117, 126, 135, 144, 153, 162, 171]

In [7]:
# using list comprehension
product_list = [ i*j for i in range(10) for j in range(10,20) ]
print(product_list)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 60, 66, 72, 78, 84, 90, 96, 102, 108, 114, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152, 90, 99, 108, 117, 126, 135, 144, 153, 162, 171]

#### Quiz tips

In [8]:
print([i+j for i in "abc" for j in "def"])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [10]:
d = {x.upper(): x*3 for x in 'acbd'}
print(d)
#testing
print('a'*3)

{'A': 'aaa', 'C': 'ccc', 'B': 'bbb', 'D': 'ddd'}
aaa

#### [VM] From Additional explanation documents on list comprehensions

In [12]:
#Normal For loop
list1 =[]
for n in range(1,11):
    list1.append(n*6)
print(list1)
#using list comprehensions
"""In general list comprehension
[<the_expression> for <the_element> in <the_iterable>]
Comparing this with our example n*6 is the expression, n is the element, range(1,11) is the
iterable."""
list2 = [n*6 for n in range(1,11)]
print(list2)

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]
[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]

In [16]:
#Applying list comprehension with a condition
list1 =[]
for n in range(1,11):
    if n%2==0:
        list1.append(n*6)
print(list1)
#using list comprehensions
"""In general list comprehension
[<the_expression> for <the_element> in <the_iterable> if <the_condition>]
Comparing this with our example n*6 is the expression, n is the element, range(1,11) is the
iterable and n%2==0 is the condition.
"""
list2 = [n*6  for n in range(1,11) if n%2 == 0]
print(list2)

[12, 24, 36, 48, 60]
[12, 24, 36, 48, 60]

In [18]:
#Applying list comprehension with if-else condition
list1 =[]
for n in range(1,11):
    if n%2==0:
        list1.append(n*6)
    else:
        list1.append(n*5)
print(list1)
#using list comprehensions
"""In general list comprehension
[<the_expression> if <the_condition> else <other_expression> for <the_element> in
<the_iterable>]
Comparing this with our example n*6 is the expression, n%2==0 is the condition, n*5 is the
other expression, n is the element and range(1,11) is the iterable."""
list2 = [n*6 if n%2==0 else n*5 for n in range(1,11)]
print(list2)

[5, 12, 15, 24, 25, 36, 35, 48, 45, 60]
[5, 12, 15, 24, 25, 36, 35, 48, 45, 60]

In [21]:
#Applying list comprehension with Nested loops
list1 =[]
for i in range(1,4):
    for j in range(1,11):
        list1.append(i*j)
print(list1)
#using list comprehensions
"""In general list comprehension
[ <the_expression> for <element_a> in <iterable_a> (optional if <condition_a>)
for <element_b> in <iterable_b> (optional if <condition_b>)
for <element_c> in <iterable_c> (optional if <condition_c>)
... and so on ...]
Comparing this with our example i*j is the expression, i is the element_a, j is the element_b,
range(1,4) is the iterable_a and range(1,11) is the iterable_b."""
list2 = [i*j for i in range(1,4) for j in range(1,11)]
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

#### Additional reading exercises

In [7]:
"""Generating identity matrix(like list of lists) using list comprehensions
[ 1 if item_idx == row_idx else 0 for item_idx in range(0, 4) ] => rule for generating content of rows,
for row_idx in range(0, 4)  => rule for generating number of rows"""
[ [ 1 if item_idx == row_idx else 0 for item_idx in range(0, 4) ] for row_idx in range(0, 4) ]

[[1, 0, 0, 0], [0, 1, 0, 0], [0, 0, 1, 0], [0, 0, 0, 1]]

In [8]:
"""We require the set: { 'Bob', 'John', 'Alice' }"""
names = [ 'Bob', 'JOHN', 'alice', 'bob', 'ALICE', 'J', 'Bob' ]
{ name[0].upper() + name[1:].lower() for name in names if len(name) > 1 }

{'Alice', 'Bob', 'John'}