## Self Play Book

In [9]:
print(range(1,5))

range(1, 5)
0
1
2
3
4
5

In [10]:
#i is the looping index
#range is a special function by python, range(a,b) => a, a+1,a+2,.....,b-1.(Not including b)
for i in range(1,5):
    print(i)

1
2
3
4

In [12]:
#thrid argument to range is step size, by default if you did not give it then it is 1
#from 1 upto 10, not incldung 10
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [17]:
#Looping on a string

my_string = "Mary had a little lamb"
#'alphabet' variable can have any name
for alphabet in my_string:
    print(alphabet)
print('*****')
for anyVar in my_string:
    print(anyVar)

M
a
r
y

h
a
d

a

l
i
t
t
l
e

l
a
m
b
*****
M
a
r
y

h
a
d

a

l
i
t
t
l
e

l
a
m
b

In [26]:
s = "Unnikrishnan"
s[-1]
s=s[:-1]
print(s)

Unnikrishna

In [ ]:
#pattern to print-

*
* *
* * *
* * * * 
* * * * *
* * * *
* * *
* *
*

In [28]:
str1=''
for i in range(0,9):#range of rows
    if i<5:#until 5 stars incement str1
        str1 += '* '#incrementing string with '* ' => star with a SPACE
        print(str1)
    elif i>4: #at i = 4, there are 5 stars        
        #as we are adding star with a space, discard a star means, discard a star with a space, so it is -2 instead of -1
        str1 = str1[:-2]
        print(str1)
#OR without space
print('---------')
str1=''
for i in range(0,9):#range of rows
    if i<5:#until 5 stars incement str1
        str1 += '*'#incrementing string with '* ' => star
        print(str1)
    elif i>4: #at i = 4, there are 5 stars        
        str1 = str1[:-1]
        print(str1)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
---------
*
**
***
****
*****
****
***
**
*

In [29]:
my_string = "Mary had a little lamb"
#enumerate returns a tuple with the character and position as second element
for n,alphabet in enumerate(my_string):
    print(alphabet, n)

M 0
a 1
r 2
y 3
  4
h 5
a 6
d 7
  8
a 9
  10
l 11
i 12
t 13
t 14
l 15
e 16
  17
l 18
a 19
m 20
b 21

In [31]:
vowels =''
for alphabet in my_string:
    if alphabet in 'aeiou':
        #appending string with characters with space
        vowels += ' ' + alphabet
print(vowels)

 a a a i e a

In [32]:
nums = '838848237890237388221'
#strings
all_even=''
all_odd = ''
for number in nums:
    #converts character to integer
    if int(number)%2 == 0:
        all_even += number
    else:
        all_odd += number

print('All Evens are : '+ all_even + ' & All odds are : '+ all_odd)

All Evens are : 8884828028822 & All odds are : 33793731

In [34]:
list_of_inventories = ['Apple', 'Banana', 'Potato', 'Mango', 'Onion', 'Toothpaste']
fruits = ['Apple','Banana','Mango','Orange','Strawberry']
vegetables = ['Potato', 'Onion','Cucumber', 'Celery']

In [35]:
#count of fruits in inventory list
count_fruits = 0
#count of vegetables in inventory list
count_veg = 0
for item in list_of_inventories:
    print(item)
    if item in fruits:
        count_fruits+=1
    elif item in vegetables:
        count_veg +=1
    else:
        continue
print(count_fruits)
print(count_veg)

Apple
Banana
Potato
Mango
Onion
Toothpaste
3
2

In [37]:
sentence = "Is Python simpler than R ?"
#we can have any name instead of 'word'
for word in sentence.split():#splits based on whitespace by default
    print(word)

Is
Python
simpler
than
R
?

In [38]:

#sentence check
tweet = '#beautiful #morning it is looking good'

for word in tweet.split():
    if word.startswith('#'):
        print(word[1:])#remove '#' and show that word

beautiful
morning

In [39]:
students_data = {1:['Shivam Bansal', 24] , 2:['Udit Bansal',25], 3:['Sonam Gupta', 26], 4:['Saif Ansari',24], 5:['Huzefa Calcuttawala',27]}

In [40]:
for key, val in students_data.items():
    print(key, val)

1 ['Shivam Bansal', 24]
2 ['Udit Bansal', 25]
3 ['Sonam Gupta', 26]
4 ['Saif Ansari', 24]
5 ['Huzefa Calcuttawala', 27]

In [41]:
for key in students_data.keys():
    print(key)

1
2
3
4
5

In [42]:
for val in students_data.values():
    print(val)

['Shivam Bansal', 24]
['Udit Bansal', 25]
['Sonam Gupta', 26]
['Saif Ansari', 24]
['Huzefa Calcuttawala', 27]

In [43]:
count = 0
for key, val in students_data.items():
    if val[1]<25:
        count+=1

print(count)

2

In [45]:
#while loop
start =20
total= 0
while start<51:
    total+=start
    start+=1
    print(start)

print(total)

21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
1085

#### Quiz related

In [47]:
#by default it prints keys
d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
for i in d:
    print(i)

0
1
2

In [52]:
d = {0, 1, 2}
for x in d:
    print(d.add(x))#adds an element to set, which does not have any effect on the members already are in set

None
None
None

In [53]:
for i in range(1,6):
    if (i % 3 == 0):
        print(str(i) + " is Divisible by 3")
        break

    print(str(i) + " is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is Divisible by 3

In [54]:
for i in range(1,6):
    if (i % 3 == 0):
        print(str(i) + " is Divisible by 3")
        continue

    print(str(i) + " is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is Divisible by 3
4 is not divisible by 3
5 is not divisible by 3

In [55]:
for i in range(1,6):
    if (i % 3 == 0):
        print(str(i) + " is Divisible by 3")
        pass

    print(str(i) + " is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is Divisible by 3
3 is not divisible by 3
4 is not divisible by 3
5 is not divisible by 3

#### From Additional reference

In [ ]:
#Compound statements - Compound statements contain (groups of) other statements; 
#they affect or control the execution of those other statements in some way. In general, 
#compound statements span multiple lines, although in simple incarnations a whole 
#compound statement may be contained in one line.
#eg : if test1: if test2: print(x)

In [6]:
#The else block just after for/while is executed only when the loop is NOT terminated by a break statement.
for i in range(1, 4): 
    print(i) 
else:  # Executed because no break in for 
    print("No Break")

1
2
3
No Break

In [9]:
#The else block just after for/while is executed only when the loop is NOT terminated by a break statement.
for i in range(1, 4): 
    print(i) 
    if i == 3:
        print("Else block is not executed")        
        break
else:  # Executed because no break in for 
    print("No Break")

1
2
3
Else block is not executed
No Break

In [8]:
count = 0
while (count < 1):     
    count = count+1
    print(count) 
    break
else: 
    print("No Break")

1

In [ ]:
#Test documentation strings - # is for single line, triple quotes are for multiple lines
""" Test1
test 2
test 3 """